<!DOCTYPE html>
<html>
<title>Activity</title>
<body>

<!-- Top menu -->
<div style="position:fixed;width:100%;z-index:1;top:0">
  <ul style="max-width:1200px;margin:auto;color:#000!important;background-color:#fff!important;font-size:24px!important;padding:24px 48px!important;list-style-type:none;text-align:center">
    <li style="float:left;font-size:x-large"><a href="#">Profile</a></li>
    <li style="font-size:xx-large">Exercises Near You</li>
  </ul>
</div>

  
<!-- !PAGE CONTENT! -->
<div style="max-width:1200px;margin-top:100px;margin:auto">

  <div>
    <img src="https://static.pexels.com/photos/8983/pexels-photo.jpeg" style="width:100%">
  </div>

  <div style="font-size:large;">
    <p>Location: <a href="https://www.google.com/maps">Place Description with Link to Location on Google Maps</a></p>
    <p>Time: 3:00-5:00pm</p>
    <p>Description: Details about the activity</p>
  </div>


<!-- End page content -->
</div>

</body>
</html>
