<!DOCTYPE html>
<html>
<title>Exercise!</title>
<body>

<!-- Top menu -->
<div style="position:fixed;width:100%;z-index:1;top:0">
  <ul style="max-width:1200px;margin:auto;color:#000!important;background-color:#fff!important;font-size:24px!important;padding:24px 48px!important;list-style-type:none;text-align:center">
    <li style="float:left;font-size:x-large"><a href="#">Profile</a></li>
    <li style="font-size:xx-large">Exercises Near You</li>
  </ul>
</div>

<!-- Search Bar -->
<div style="margin-top:100px;width:105%;text-align:center">
  <input type="text" name="search" placeholder="Search...">
</div>
  
<!-- !PAGE CONTENT! -->
<div style="max-width:1200px;margin-top:100px;margin:auto">

  <!-- First Photo Grid-->
  <div style="text-align:center;padding:8px">
    <div style="float:left;width:25%">
      <img src="https://static.pexels.com/photos/12346/pexels-photo-12346.jpeg" style="width:100%">
      <h3>Link to Activity</h3>
      <p>Description of Activity Goes Here.</p>
    </div>
    <div style="float:left;width:25%">
      <img src="https://static.pexels.com/photos/12346/pexels-photo-12346.jpeg" style="width:100%">
      <h3>Link to Activity</h3>
      <p>Description of Activity Goes Here.</p>
    </div>
    <div style="float:left;width:25%">
      <img src="https://static.pexels.com/photos/12346/pexels-photo-12346.jpeg" style="width:100%">
      <h3>Link to Activity</h3>
      <p>Description of Activity Goes Here.</p>
    </div>
    <div style="float:left;width:25%">
      <img src="https://static.pexels.com/photos/12346/pexels-photo-12346.jpeg" style="width:100%">
      <h3>Link to Activity</h3>
      <p>Description of Activity Goes Here.</p>
    </div>
  </div>
  
  <!-- Second Photo Grid-->
  <div style="text-align:center;padding:8px">
    <div style="float:left;width:25%">
      <img src="https://static.pexels.com/photos/12346/pexels-photo-12346.jpeg" style="width:100%">
      <h3>Link to Activity</h3>
      <p>Description of Activity Goes Here.</p>
    </div>
    <div style="float:left;width:25%">
      <img src="https://static.pexels.com/photos/12346/pexels-photo-12346.jpeg" style="width:100%">
      <h3>Link to Activity</h3>
      <p>Description of Activity Goes Here.</p>
    </div>
    <div style="float:left;width:25%">
      <img src="https://static.pexels.com/photos/12346/pexels-photo-12346.jpeg" style="width:100%">
      <h3>Link to Activity</h3>
      <p>Description of Activity Goes Here.</p>
    </div>
    <div style="float:left;width:25%">
      <img src="https://static.pexels.com/photos/12346/pexels-photo-12346.jpeg" style="width:100%">
      <h3>Link to Activity</h3>
      <p>Description of Activity Goes Here.</p>
    </div>
  </div>

  <!-- Pagination -->
  <div style="text-align:center;padding:50px;margin-top:50px">
    <ul style="display:inline;color:black;padding:8px16px;list-style-type:none">
      <li style="display:inline"><a href="#">1</a></li>
      <li style="display:inline"><a href="#">2</a></li>
      <li style="display:inline"><a href="#">3</a></li>
      <li style="display:inline"><a href="#">4</a></li>
      <li style="display:inline"><a href="#">»</a></li>
    </ul>
  </div>

<!-- End page content -->
</div>

</body>
</html>
